<!DOCTYPE html>
<html>
  <head>
    <title>Edit your listing</title>
  </head>
  <body>
    <header>
      <div class="row">
        <div class="logo">
          <a href=""><img src="{{ url_for('static', filename='css/Gunhub.jpg') }}"></a>
        </div>

        <ul class="main-nav">
          <li><form><button type="submit" formaction="/home" class="btn">HOME</button></form></li>
          <li><a href="/buy">SHOP</a></li>
          <li><a href="/buy">BUY</a></li>
          <li><a href="/sell">SELL</a></li>
          <li><a href="/history">HISTORY</a></li>
          <li class="active"><a href="/edit">EDIT</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><form><button type="submit" formaction="/logout" class="btn-logout">LOGOUT</button></form></form></li>
        </ul>
      </div>
      <br>
      <h1>ITEMS (that i'm selling))</h1>
     <table>
      {% for item in items %}
      <tr>
        <td>
            <img src="{{item.link}}">
              Item ID: {{item.item_id}} || Item name: {{item.name}} ||  Price: PHP{{item.price}} || Seller: {{item.seller_name}} 
        </td>
      </tr>
      {% endfor %}
    </table>
    <br>
    <br>
    <form method="POST" action="/edit" style="display: inline">
      <input type="text" name="item_id" placeholder="ITEM ID">
      <input type="text" name="newname" placeholder="NEW NAME">
      <input type="text" name="newprice" placeholder="NEW PRICE">
      <input type="text" name="newlink" placeholder="NEW LINK">
      <input class="btn-update" type="submit" value="Update">
    </form>
    <br>
    <br>
    <form method="POST" action="./delete" style="display: inline">
      <input type="text" name="item_id" placeholder="ITEM ID">
      <input class="btn-delete" type="submit" value="Delete">
    </form>

    </header>  
  </body>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">
</html>