<!DOCTYPE html>
<html>
	<head>
		<title>Gunhub</title>
	</head>
	<body>
		<header>
			<div class="row">
				<div class="logo">
					<a href=""><img src="{{ url_for('static', filename='css/Gunhub.jpg') }}"></a>
				</div>

				<ul class="main-nav">
					<li class="active"><a href="">HOME</a></li>
					<li><a href="/buy">SHOP</a></li>
					<li><a href="/buy">BUY</a></li>
					<li><a href="/sell">SELL</a></li>
					<li><a href="/history">HISTORY</a></li>
					<li><a href="/edit">EDIT</a></li>
					<li><a href="/about">ABOUT</a></li>
					<li><form method="GET" action="/logout"><button type="submit" class="btn-logout">LOGOUT</button></form></li>
				</ul>
				
			</div>

			<div class="hero">
				<h1>ONE STOP. GUN SHOP</h1>
				<div class="button">
					<a href="/buy" class="btn btn-one">GO TO SHOP</a>
					<a href="/about" class="btn btn-two">ABOUT GUNHUB</a>
				</div>
			</div>
		</header>
	</body>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</html>